@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  font-weight: 200;
  src: url(/static/fonts/Poppins-Thin.ttf);
}
@font-face {
  font-family: Poppins;
  font-weight: 400;
  src: url(/static/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  font-weight: 700;
  src: url(/static/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins;
  font-weight: 900;
  src: url(/static/fonts/Poppins-Black.ttf);
}

html {
  scroll-behavior: smooth;
}

.mobile-nav a {
  @apply px-4 py-2 transition rounded-md hover:bg-gray-800 focus:ring-1;
}

.form-label {
  @apply block text-sm font-bold;
}

.form-input {
  @apply w-full px-3 py-2 mt-1 placeholder-gray-300 bg-white border-0 rounded-md shadow focus:ring-2;
}
